.container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  width: 600px;
  grid-gap: 0.5px;
  margin: 5rem auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.full {
  grid-column: 1 / -1;
  background-color: darkgray;
  color: white;
  display: block;
  width: 100%;
  text-align: end;
  padding: 1rem;
  border-radius: 4px;
}

.row span {
  box-sizing: border-box;
  border: solid 0.5px rgb(237, 237, 240);
  font-size: large;
  font-weight: 700;
}

.row span:not(.full) {
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.row:last-child {
  justify-content: flex-start;
}

.row:last-child span:first-child {
  flex: 1 1 50%;
}

.row:last-child span:not(:first-child) {
  flex: 1 1 calc(50% / 2);
}

.row:not(:first-child) span:last-child {
  background-color: darkorange;
}
